/**
 * Originally based on Qball by Dave Davenport.
 * User: Qball
 * Copyright: Dave Davenport
 */

window {
    color: white;
    background-color: rgba(0, 0, 0, 0.94);
    font: 16px "Meslo LG S";
}

#outer-box {
    padding: 20px 0px 20px 0px;
}

#scroll {
    padding-bottom: 50px;
}

#input {
    margin: 0px 20px 20px 20px;
    background-color: rgb(25, 25, 25);
}

#input, #input:focus {
    border-color: rgb(50, 50, 50);
    box-shadow: none;
}

#entry {
    padding: 5px 3px 5px 20px;
}

#element {
    padding: 5px 3px 5px 20px;
}

#entry:selected {
    background-color: white;
}

#text:selected {
    color: black;
}
